:root{
    --color-transparent: rgba(0, 0, 0, 0.6);
    --color-white: #ffffff;
    --color-black: #000000;
    --color-grey: #808080; 
    --color-softBlue: #71d4d4;
    --color-linear-gradient: #ff4169;
    --color-linear-gradient-2: #7c26f8;
    --color-btn-roxo: #7c25f8;
    --color-btn-roxo-2: #6207e3;
}

/* Customizações gerais */
*/{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica,Arial,sans-serif;
}

html, body{
	height: 100%;
	overflow-x: hidden;
}

body{
    background: url(../imagens/capa.png),
				url(../imagens/ruido.png),
				linear-gradient(50deg, var(--color-linear-gradient), var(--color-linear-gradient-2));
	background-attachment: fixed;
}

/* Navegação */
nav li a{
    color: var(--color-white);
}
nav li a:hover{
    color: var(--color-softBlue);
}

.navbar-transparente{
    background: var(--color-transparent);
}

.divisor {
	width: 1px;
	background: var(--color-white);
	margin: 12px 15px;
}

.item{
    padding-top: 180px;
    text-align: center;
    height: 700px;
}

.capa {
	text-align: center;
}

.btn-custom{
    color: var(--color-white);
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
    text-transform: uppercase;
}

.btn-roxo{
    background-color: var(--color-btn-roxo);
}

.btn-roxo:hover {
	background: var(--color-btn-roxo-2);
	color: var(--color-white);
}

.btn-branco{
    border: 2px solid var(--color-white);
}

.btn-branco:hover {
	background-color: var(--color-white);
	color: var(--color-black);
}

.carousel-control-next, .carousel-control-prev {
	width: 5%;
}

/* Tipografia */

h1{
    color: var(--color-white);
    font-weight: bold;
}

h2{
    color: var(--color-btn-roxo);
    font-size: 3em;
    font-weight: bold;
    margin-top: 15px;
}

h3{
    color: var(--color-btn-roxo);
    font-weight: bold;
}

h4{
    color: var(--color-white);
    font-size: 3em;
}

h5{
    color: var(--color-softBlue);
    font-size: 2em;
}

h6{
    text-transform: uppercase;
    color: var(--color-grey);
    font-size: 0.8em;
}

.p-branco{
    color: var(--color-white);
}

/* Customização imagem container 3, coluna 2 */
.img-rotacao{
    transform: rotate(28deg);
    -moz-transform: rotate(28deg);
    -webkit-transform:rotate(28deg);
    position: relative;
    right: -45px;
}

/* Rodapé */
footer{
    background: var(--color-black);
    padding-top: 40px;
    position: relative;
}

.rodape ul li a{
    color: var(--color-white);
    text-decoration: none;
    font-size: 0.8em;
}

.rodape ul li a:hover{
    color: var(--color-softBlue);
}

.icones{
    display: flex;
    list-style: none;
}
  

/* Media Queries */
@media (max-width: 575.98px) {
    h1{
        font-size: 3em;
    }
    .btn-custom {
		margin: 10px 15px;	
	}
    
}

@media (min-width: 576px) and (max-width: 767.98px) {
    h1{
        font-size: 3em;
    }
    .btn-custom {
		margin: 10px 15px;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
    h1{
        font-size: 4em;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    h1{
        font-size: 5em;
    }
}

@media (min-width: 1200px) {
    h1{
        font-size: 6em;
    }
}
/* ******* */